<template name="helpContentDECategoryStart">

    (##) Startseite

    <a href="/img/help/de/Startseite.jpg" data-lightbox="img-1" data-title="Startseite der
                Lernplattform 🍅cards">
        <img src="/img/help/de/Startseite.jpg" alt="Startseite von .cards"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Demo:</strong> Die Demo-Kartei wird nur auf Tablets und Desktops angeboten.
            Sie zeigt dir auf rund 25 Karten, was 🍅cards von anderen Lernkartei-Apps unterscheidet.
            Die 18 (!) Karteitypen werden an realen Beispielen aus Informatik-Kursen vorgestellt.
            Nimm dir ein paar Minuten Zeit, um die großartigen Möglichkeiten kennen zu lernen,
            wie du dein Studium effizient und nachhaltig mit Lernkarteien und Repetitorien betreiben kannst.
        </li>
        <li><strong>Pomodoro-Timer:</strong> Du kannst den Timer unabhängig von 🍅cards für dein Zeitmanagement verwenden.
            Klick auf die Tomate (italienisch: Pomodoro), um die Lernzeiten und Pausen einzustellen und den Timer zu starten.
        </li>
        <li><strong>Login:</strong> Die Plattform 🍅cards unterscheidet zwei Anmeldeoptionen.
            Mit dem linken Button können sich alle Mitglieder der THM anmelden.
            Als THM-Mitglied hast du kostenlosen freien Zugang zu allen von THM-Lehrenden veröffentlichen Karteien und Reps.
            THM-Karteien und -Reps tragen das grüne Label »THM«.
            Wer sich über ein Konto eines sozialen Netzwerks anmeldet,
            hat nur Zugang zu Karteien und Reps mit dem blauen Label »Frei«.
        </li>
        <li><strong>Online-Check:</strong> Die Lernplattform ist eine moderne HTML5-App, die WebSocket-Technologie
            im Online-Betrieb verwendet.
            Ohne WebSocket-Verbindung arbeitest du offline und die Karteien werden in deinem Browser verwaltet.
            Die Synchronisation mit dem Server erfolgt automatisch, sobald du wieder Netz hast.
        </li>
    </ul>
</template>
