<template name="cardsetInfoBoxItemPrice">
    {{#if hasAmount}}
        {{#unless canViewForFree}}
            <tr>
                <td>{{_ "cardset.info.amount"}}:</td>
                <td>{{getPrice this.price}}</td>
            </tr>
        {{/unless}}
    {{/if}}
</template>
