<template name="cardSidebarItemToggleFullscreen">
                                                <span class="toggleFullscreen fullscreen glyphicon glyphicon-fullscreen card-button cardHeaderItem {{#if
                                                        fullscreenActive}}pressed{{/if}}"
                                                      data-type="cardNavigation"
                                                      title="{{_ "card.tooltip.fullscreen"}}"></span>
</template>
