<template name="cardEditorItemButtonSaveNext">
    {{#if gotMultipleCards}}
        <button id="cardSaveNext"
                class="btn btn-default btn-raised saveNext col-xs-12 col-sm-4" {{disableIfOffline}}
                tabindex="15"><i class="fa fa-floppy-o"></i> <i class="fa fa-arrow-right"></i> {{_ "savecardNext"}}</button>
    {{/if}}
</template>
