<template name="mainNavigationTopItemPublicItemCardsets">
    <li id="navbar-public-cardsets"
        class="{{#if isPoolRoute}}active{{/if}}">
        <a href="{{pathFor route='pool'}}">
            {{{getNavigationName "publicCardsets"}}}
        </a>
    </li>
</template>
